
html[lang="en"] {
    direction: ltr;
}

html[lang="ar"] {
    direction: rtl;
}

body {
    width: 100%;
    margin: 0 auto;
    background-color: antiquewhite;
}

span {
    color: green;
}

#surah {
    text-align: center;
}

#surah-name {
    font-size: 5em;
    margin: 0 0 1em;
}

#basmala {
    font-size: 4em;
    padding: 0 2em;
    line-height: 2em;
}

#ayahs {
    text-align: justify;
    font-size: 3em;
    padding: 0 2em;
    line-height: 2em;
    max-width: 1500px;
    margin: 0 auto;
}

.equal-size {
    display: inline-block;
    width: 150px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 1.5rem;
    padding: 0;
    white-space: nowrap;
}




