
html[lang="en"] {
    direction: ltr;
}

html[lang="ar"] {
    direction: rtl;
}

body {
    width: 100%;
    margin: 0 auto;
    background-color: antiquewhite;
}

span {
    color: green;
}

#surah {
    text-align: center;
}

#surah-name {
    font-size: 4em;
    padding: 0 0.25em;
    margin: 0 0 1em;
}

#basmala {
    font-size: 2.75em;
    padding: 0 0.25em;
    line-height: 2em;
}

#ayahs {
    text-align: justify;
    font-size: 2.5rem;
    padding: 0 1em;
    line-height: 2em;
    max-width: 1024px;
    margin: 0 auto;
    
}

.equal-size {
    display: inline-block;
    width: 150px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 1.5rem;
    padding: 0;
    white-space: nowrap;
}

@media (max-width: 768px) {
    #surah-name {
        font-size: 3.5em;
    }
    #basmala {
        font-size: 2.5em;
    }
    #ayahs {
        font-size: 2.25em;
        
    }
    
}

@media (max-width: 480px) {
    #surah-name {
        font-size: 3em;
    }
    #basmala {
        font-size: 2.25em;
    }
    #ayahs {
        font-size: 2em;
    }
    
}




